<p>

    {{randomString}}

     {{#if msg}} {{msg}} {{/if}}
    <form action="/form" method="POST">
        First name:<br>
        <input type="text" name="firstname" value="">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="">
        <br><br>
        Secret word:<br>
        <input type="text" name="secret" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</p>